* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 60px 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow-x: hidden;
  -webkit-perspective: 1400px;
          perspective: 1400px;
}

#flyerZone {
  width: 95%;
  max-width: 1200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#flyerZone #flyer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  aspect-ratio: 29.7/21;
  width: 100%;
  -webkit-transform: rotateX(50deg);
          transform: rotateX(50deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform ease 1s;
  transition: -webkit-transform ease 1s;
  transition: transform ease 1s;
  transition: transform ease 1s, -webkit-transform ease 1s;
}
#flyerZone #flyer .volet {
  position: absolute;
  width: 33.333334%;
  height: 100%;
  cursor: pointer;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform ease 1s;
  transition: -webkit-transform ease 1s;
  transition: transform ease 1s;
  transition: transform ease 1s, -webkit-transform ease 1s;
}
#flyerZone #flyer .volet .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
}
#flyerZone #flyer .volet .face img {
  width: 100%;
  height: 100%;
}
#flyerZone #flyer .volet .face.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
#flyerZone #flyer .volet.left {
  -webkit-transform-origin: left;
          transform-origin: left;
}
#flyerZone #flyer .volet.center {
  -webkit-box-shadow: 0 45px 50px -10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 45px 50px -10px rgba(0, 0, 0, 0.7);
  -webkit-transition: -webkit-box-shadow ease 1.3s, -webkit-transform ease 1s;
  transition: -webkit-box-shadow ease 1.3s, -webkit-transform ease 1s;
  transition: box-shadow ease 1.3s, transform ease 1s;
  transition: box-shadow ease 1.3s, transform ease 1s, -webkit-box-shadow ease 1.3s, -webkit-transform ease 1s;
}
#flyerZone #flyer .volet.right {
  -webkit-transform-origin: right;
          transform-origin: right;
}

.conseil {
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  -webkit-transform: translateZ(400px);
          transform: translateZ(400px);
  overflow: hidden;
}
.conseil p + p {
  margin-top: 20px;
}

a + a {
  margin-top: 20px;
}

a {
  display: block;
  margin-top: 80px;
  padding: 5px 20px;
  background-color: #000;
  border: 3px solid #000;
  border-radius: 99px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0);
          box-shadow: 2px 5px 15px rgba(0, 0, 0, 0);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}
a:hover {
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.7);
  -webkit-transform: translate(0, -6px) scale(1.05);
          transform: translate(0, -6px) scale(1.05);
}