* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow-x: hidden;
  -webkit-perspective: 1400px;
          perspective: 1400px;
}

#leafletContainer {
  width: 95%;
  max-width: 1200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#leafletContainer #leaflet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  aspect-ratio: 29.7/21;
  width: 100%;
  -webkit-transform: rotateX(50deg);
          transform: rotateX(50deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform ease 1s;
  transition: -webkit-transform ease 1s;
  transition: transform ease 1s;
  transition: transform ease 1s, -webkit-transform ease 1s;
}
#leafletContainer #leaflet .flap {
  position: absolute;
  width: 33.333334%;
  height: 100%;
  cursor: pointer;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform ease 1s;
  transition: -webkit-transform ease 1s;
  transition: transform ease 1s;
  transition: transform ease 1s, -webkit-transform ease 1s;
}
#leafletContainer #leaflet .flap .side {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
}
#leafletContainer #leaflet .flap .side img {
  width: 100%;
  height: 100%;
}
#leafletContainer #leaflet .flap .side.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
#leafletContainer #leaflet .flap.left {
  -webkit-transform-origin: left;
          transform-origin: left;
}
#leafletContainer #leaflet .flap.center {
  -webkit-box-shadow: 0 45px 50px -10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 45px 50px -10px rgba(0, 0, 0, 0.7);
  -webkit-transition: -webkit-box-shadow ease 1.3s, -webkit-transform ease 1s;
  transition: -webkit-box-shadow ease 1.3s, -webkit-transform ease 1s;
  transition: box-shadow ease 1.3s, transform ease 1s;
  transition: box-shadow ease 1.3s, transform ease 1s, -webkit-box-shadow ease 1.3s, -webkit-transform ease 1s;
}
#leafletContainer #leaflet .flap.right {
  -webkit-transform-origin: right;
          transform-origin: right;
}

.advice {
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  -webkit-transform: translateZ(400px);
          transform: translateZ(400px);
  overflow: hidden;
}
.advice p + p {
  margin-top: 20px;
}

a + a {
  margin-top: 20px;
}

a {
  display: block;
  margin-top: 80px;
  padding: 5px 20px;
  background-color: #000;
  border: 3px solid #000;
  border-radius: 99px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0);
          box-shadow: 2px 5px 15px rgba(0, 0, 0, 0);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}
a:hover {
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.7);
  -webkit-transform: translate(0, -6px) scale(1.05);
          transform: translate(0, -6px) scale(1.05);
}

.githubLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-top: 100px;
}
.githubLink svg {
  width: 100%;
  max-width: 100px;
  height: 100px;
}
.githubLink svg path {
  fill: #fff;
  -webkit-transition: fill ease 0.4s;
  transition: fill ease 0.4s;
}
.githubLink:hover svg path {
  fill: #1B1F23;
}